<main id="main" role="main">
  <section class="jumbotron text-center" id="mainBanner">
    <div class="container">
      <h1 class="jumbotron-heading">Album Example</h1>
      <p class="lead text-muted">Your gallery is an asset to your business. Use it to post examples of your photography, or your school's
      facilities and students work. Watermark your photos and enable sharing with the social options feature.</p>
      <p>
        <a href="#" class="btn btn-primary my-2">Main call to action</a>
        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row bootstrap snippets">
        <div class="col-md-5 col-md-offset-2 col-sm-12">
          <div class="comment-wrapper">
            <div class="panel panel-info">
              <div class="panel-heading">
                <div style="width: 100%;padding: 20px;">
                  <button style="width: 50%;margin-left: 25%;height: 55px;background: #fcb603;color: #fff;border-color: #f8f9fa;border-radius: 6px;"><b>Vote Now</b></button>
                  <!-- Your share button code -->
                  <div class="fb-share-button" 
                    data-href="https://www.spritle.com/your-page.html" 
                    data-layout="button_count">
                  </div>
                </div>
                <div style="width: 100%;padding: 20px;text-align: center;">
                  <span><b>5</b> Support</span>
                </div>
                
                <!-- <h5>Comments</h5> -->
              </div>
              <div class="panel-body">
                <ul class="media-list">
                  <li class="media">
                    <a href="#" class="pull-left">
                      <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                    </a>
                    <div class="media-body">
                      <span class="text-muted pull-right">
                        <small class="text-muted"><button class="btn btn-xs"><span class="fa fa-thumbs-up"></span></button></small>
                      </span>
                      <strong class="text-success" style="padding: 10px;">@Balaji</strong>
                      <p style="margin-left: 15px;">Test comment.</p>
                    </div>
                  </li>
                  <li class="media">
                    <a href="#" class="pull-left">
                      <img src="https://bootdey.com/img/Content/user_2.jpg" alt="" class="img-circle">
                    </a>
                    <div class="media-body">
                      <span class="text-muted pull-right">
                        <small class="text-muted"><button class="btn btn-xs"><span class="fa fa-thumbs-up"></span></button></small>
                      </span>
                      <strong class="text-success" style="padding: 10px;">@Test</strong>
                      <p style="margin-left: 15px;">Tessssst</p>
                    </div>
                  </li>
                  <li class="media">
                    <a href="#" class="pull-left">
                      <img src="https://bootdey.com/img/Content/user_3.jpg" alt="" class="img-circle">
                    </a>
                    <div class="media-body">
                      <span class="text-muted pull-right">
                        <small class="text-muted"><button class="btn btn-xs"><span class="fa fa-thumbs-up"></span></button></small>
                      </span>
                      <strong class="text-success" style="padding: 10px;">@Vinoth</strong>
                      <p style="margin-left: 15px;">Test test</p>
                    </div>
                  </li>
                </ul>
                <div class="clearfix"></div>
                <hr>
                <textarea class="form-control" placeholder="write a comment..." rows="3"></textarea>
                <br>
                <button type="button" class="btn btn-info pull-right">Post</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12" id="collection-heading">
          <span>My Collection</span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="/images/thumbnail.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
              This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">12 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="/images/thumbnail.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
              This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">12 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="/images/thumbnail.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
              This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">12 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="/images/thumbnail.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
              This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">12 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="/images/thumbnail.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
              This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">12 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="/images/thumbnail.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
              This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">12 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="/images/thumbnail.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
              This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">12 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="/images/thumbnail.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
              This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">12 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="/images/thumbnail.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
              This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">12 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="#" class="btn btn-primary scrollUp">
    <i class="fa fa-arrow-circle-o-up"></i>
  </a>
</main>